.homepage-text {
  color: white;
  position: relative;
  z-index: 2;
  padding: 35px;
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage-text-background > h1 {
  font-size: 80px;
  font-family: "Khand", sans-serif;
  margin-bottom: 0px;
}
.homepage-text-background > p {
  font-size: 35px;
  font-family: "Lobster", cursive;
  margin-top: 5px;
}

.homepage-text-background {
  background-color: #00000094;
}

.input-group {
  display: flex;
  justify-content: center;
}

.homepage-input {
  font-family: "Khand", sans-serif;
  border-color: white;
  margin-right: 8px;
  width: 265px;
  margin-top: 22px;
  height: 50px;
  border-radius: 9px;
  border: none;
  font-size: 20px;
  padding-left: 7px;
}

#homepage-button {
  font-family: "Khand", sans-serif;
  height: 50px;
  font-size: 22px;
  margin-top: 22px;
}
